$black: #000000;
$white: #FFFFFF;
$offWhite: #E6E6E6;
$orange: #F9A826;
$pink: #FD6584;
$grayBlue: #3F3D56;
$darkGrayBlue: #2F2E41;
$darkBlue: #040614;


/** Primary Color */
$color-primary: $orange !default;

/** Secondary Color*/
$color-secondary: $pink !default;

/** Tertiary Color*/
$color-tertiary: $grayBlue !default;

/** Background Color*/
$color-body: $darkBlue !default;

/** Primary Label Color */
$color-plabel: $white !default;
$color-plabel-inverted: $orange !default;

/** Secondary Label Color */
$color-slabel: $pink !default;

/** Tertiary Label Color */
$color-tlabel: $grayBlue !default;