@import '../styles/shared/variables';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Share+Tech&display=swap');

h1, h2, h3{
    font-family: 'Share Tech', sans-serif;
}

h4 { font-family: 'Abel', sans-serif; }

body,
p {
	font-family: 'Abel', sans-serif;
}

.signature {
    font-family: 'Dawning of a New Day', cursive;
}