@import '../../styles/shared/index.scss';

$mobile-max-width: 960px;
$tablet-min-width: 480px;
$tablet-max-width: 1024px;

$heading-text-size-desktop: 5em;
$body-text-size-desktop: 1.2em;
$margin-text-desktop: 0.2em;
$margin-icon-desktop: 0.5em;
$margin-vertical-desktop: 0.8em;
$icon-size-desktop: 1.5em;

$heading-large-text-size-tablet: 2em;
$heading-medium-text-size-tablet: 1em;
$body-text-size-tablet: 1.5em;
$icon-size-tablet: 2.5em;

$heading-large-text-size-mobile: 1.5em;
$heading-medium-text-size-mobile: 0.8em;
$body-text-size-mobile: 1.2em;
$margin-text-mobile: 0.3em;
$margin-icon-mobile: 1em;
$margin-vertical-mobile: 0.5em;
$icon-size-mobile: 2em;

.home {
    @include displayFlex();
    flex-direction: row;

    &__container-left {
        @include displayFlex();
        flex-direction: column;
        justify-content: center;
        flex: 2 1 0;

        &__title {
            @include displayFlex();
            flex-direction: row;
            font-size: $heading-text-size-desktop;

            &__container {
                &__pronoun, &__color {
                    margin-left: $margin-text-desktop;
                }
            }
        }

        &__subtitle {
            font-size: $body-text-size-desktop;
            margin: $margin-vertical-desktop 0;
        }

        &__icons {
            @include displayFlex();
            flex-direction: row;

            &__linkedIn, &__email {
                width: $icon-size-desktop;
                height: $icon-size-desktop;

                &:hover {
                    transform: scale(1.2);
                    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
                }
            }

            a + a {
                margin-left: $margin-icon-desktop;
            }
        }
    }

    &__container-right {
        width: 100%;
        flex: 1 1 0;
        #cloud-one {
            offset-path: path("m 0 0 h 50");

            /** Firefox */
            @-moz-document url-prefix() {
                offset-path: path("m -330 -170 h 50");
            }

            /** Safari */
            @media not all and (min-resolution:.001dpcm) {
                @supports (-webkit-appearance:none) {
                    offset-path: path("m -330 -170 h 50");
                }
            }
            
            animation: move 2300ms infinite alternate ease-in-out;
        }

        #cloud-two {
            offset-path: path("m 0 0 h 80");
            @-moz-document url-prefix() {
                offset-path: path("m -330 -170 h 80");
            }
            @media not all and (min-resolution:.001dpcm) {
                @supports (-webkit-appearance:none) {
                    offset-path: path("m -330 -170 h 80");
                }
            }
            animation: move 2100ms infinite alternate ease-in-out;
        }

        #hand, #pen {
            offset-path: path("m 0 0 h 4");
            @-moz-document url-prefix() {
                offset-path: path("m -330 -170 h 4");
            }
            @media not all and (min-resolution:.001dpcm) {
                @supports (-webkit-appearance:none) {
                    offset-path: path("m -330 -170 h 4");
                }
            }
            animation: move 1000ms infinite alternate ease-in-out;
        }

        #arm { 
            offset-path: path("m 0 0 h 2");
            @-moz-document url-prefix() {
                offset-path: path("m -330 -170 h 2");
            }
            @media not all and (min-resolution:.001dpcm) {
                @supports (-webkit-appearance:none) {
                    offset-path: path("m -330 -170 h 2");
                }
            }
            animation: move 1000ms infinite alternate ease-in-out;
        }

        @keyframes move {
            0% {
              offset-distance: 0%;
            }
            100% {
              offset-distance: 100%;
            }
        }
    }

    @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        &__container-left {
            &__title {
                &__greeting {
                    font-size: $heading-large-text-size-tablet !important;
                }
                &__container {
                    font-size: $heading-medium-text-size-tablet !important;
                }
            }
            &__subtitle {
                font-size: $body-text-size-tablet !important;
            }
            &__icons {
                &__linkedIn, &__email {
                    width: $icon-size-tablet !important;
                    height: $icon-size-tablet !important;
                }
            }
        }

        &__container-right {
            width: 60% !important;
        }
    }

    @media only screen and (max-width: $mobile-max-width) {
        @include displayFlex();
        flex-direction: column-reverse;

        &__container-left {
            @include displayFlex();
            flex-direction: column;
            align-items: center;
    
            &__title {
                @include displayFlex();
                flex-direction: column;

                &__greeting {
                    align-self: center;
                    font-size: $heading-large-text-size-mobile;
                }
    
                &__container {
                    font-size: $heading-medium-text-size-mobile;

                    span {
                        margin-left: 0;

                        + span {
                            margin-left: $margin-text-mobile;
                        }
                    }
                }
            }
    
            &__subtitle {
                text-align: center;
                font-size: $body-text-size-mobile;
                margin: $margin-vertical-mobile 0;
            }
    
            &__icons {
                &__linkedIn, &__email {
                    width: $icon-size-mobile;
                    height: $icon-size-mobile;
                }
                a + a {
                    margin-left: $margin-icon-mobile;
                }
            }
        }

        &__container-right {
            align-self: center;
            width: 70%;
        }
    }
}